@charset "UTF-8";
.table{
  .btn{
    width:auto;
    height:auto;
    padding:2px 6px;
    border:none;
    line-height:20px;
    font-size:12px;
  }
}
.fa-map-marker {
  color: #1ab394;
  font-size: 16px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
//计算公式样式 开始
.paramTag .btn{
  width:32px;
  height:32px;
  line-height: 30px;
  color:#1ab394;
  border:1px solid #1ab394;
  margin-bottom:5px;
  margin-left:5px;
  padding:0;
  background: #fff;
  &:hover{
    background: #1ab394;
    color:#fff;
  }
}
.btn.clearOne{
  width:72px;
}
.param-item{margin-bottom:15px;}
.paramName-tit,.paramName-text{
  display: inline-block;
  vertical-align: middle;
}
.paramName-tit{
  width:90px;
  text-align:left;
  font-size:14px;
}
.bg-1ab394{
  background:#1ab394;
  color:#fff;
}
.paramName-text, .paramCount{
  font-size:0;
  position: relative;
}
.aps-innerInput{
  display: inline-block;
  vertical-align: middle;
  width:180px;
  padding:0 8px;
  outline: none;
  border:1px solid #ddd;
  border-right:none;
  height:34px;
  font-size:12px;
  background: #eee;
  cursor: pointer;
}
.aps-innerBtn{
  display: inline-block;
  vertical-align: middle;
  background:#1ab394;
  color:#fff;
  width:34px;
  height:34px;
  border:none;
  padding:0;
  margin:0 0 0 -1px;
}
.paramChoose{
  width:158px;
  height:32px;
  line-height: 30px;
  background: #f2f2f2;
  border:1px solid #cacaca;
  color:#000;
  padding:0;
}
.paramRecord{
  height:124px;
  border:1px solid #cacaca;
  padding:10px;
  vertical-align: top;
  font-size:14px;
}
#paramCodeInput-error{
  font-size:14px;
  position: absolute;
  top:0;
  left:226px;
  line-height: 34px;
  width:100px;
}
label.error{ color:red;font-size:14px;}
#paramRecordShow{
  width:0;
  font-size:0;
  border:none;
}
.tab-con>li,.tab-con>div{
    display: none;
    &.active{
      display: block;
  }
}
.revP-tit {
  li{
    width:116px;height:42px;line-height: 42px;text-align: center;border-top-left-radius: 5px;border-top-right-radius: 5px;color:#333;font-size:16px;float:left;cursor: pointer;
    &.active,&:hover{
      background: #fff;color:#1ab394;
    }
  }
}

#reviewPlans>div{
  margin-bottom:15px;
  span{
    display: inline-block;vertical-align: middle;
    &.w-74{
      width:74px;text-align: right;
    }
  }
}
.customRadio{
  position: relative;font-weight:normal;
  i{
   width:14px;height:14px; -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;border:1px solid #bdbdbd;position: absolute; top:50%;margin-top:-6px;left:-1px;
    &:before{
      content: "";position: absolute;top:50%;left:3px;margin:-3px 0 0 0; width:6px;height:6px;background:transparent;border-radius: 50%;
    }
  }
  input[type="radio"]{margin-right:6px;opacity: 0;
    &:checked + i{border-color:#20b597;cursor: pointer;}
    &:checked + i:before{background:#20b597;}
  }

}
.appTextare{  width:50%;overflow:hidden;border:1px solid #bbb;border-radius: 5px;padding:10px;line-height: 24px; outline: none;resize: none;height:140px; word-break:break-all;word-wrap:break-word;
}
.app-flow-tit{
  display: inline-block;vertical-align: middle;border:1px solid #1ab394;overflow: hidden;border-radius: 6px;margin-bottom:30px;
  li{
    width:130px;height:40px;line-height: 40px;text-align: center;font-size:14px;color:#333;float:left;cursor: pointer;
    &.active,&:hover{
      background: #1ab394;color:#fff;
    }
  }
}
.flow-list{
  font-size:0;
}
.flow-item{
  display: inline-block;vertical-align: top;font-size:14px;line-height: 26px;width:160px;text-align: center;
  position: relative;
  &:after{
    content:"";
    position: absolute;
    width:40%;
    height:1px;
    border:1px dashed #ddd;
    top:40px;
    right:-20%;

  }
  &:nth-last-of-type(1){
    &:after{
      display: none;
    }
  }
}
.flow-item-icon{
  display: block;width:60px;height:60px;overflow: hidden;border-radius: 50%;background: #ddd;
  margin:10px auto;background-image: url("../images/workPlace/aps-review-icon.png");background-repeat: no-repeat;
  background-size:300px 60px;
  &.flow-icon1{
    background-position: 0 0;
  }
  &.flow-icon2{
    background-position: -60px 0;
  }
  &.flow-icon3{
    background-position: -120px 0;
  }
  &.flow-icon4{
    background-position: -180px 0;
  }
}
.flow-item-user{
  display: block !important;width:100%;overflow: hidden;text-align: center;padding:0 5px;font-size:14px;color:#333;
}
.flow-item-time{
  font-size:14px;color:#999;display: block !important;
}
.flow-agree{
  color:#1ab394;display: block !important;
}
.flow-disagree{
  color:#ff2525;display: block !important;
}
.auditing-btn{
  width:70px;height:30px;line-height: 30px;text-align: center;
}
.schOp-item{
  padding:0 0;
  height:30px;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color:#333;
  text-align: center;
  float:left;
  margin-right:20px;
  i{
    display: block;
    width:38px;
    height:38px;
    background-image: url(../images/proPlanSprite.png);
    background-repeat: no-repeat;
    margin:19px auto;
  }
  &.schOp-sc{
    cite{
      background: #72b6c3;
    }
    i{
      background-position: 0 0 ;
    }
  }
  &.schOp-ps{
    cite{
      background: #25c9c1;
    }
    i{
      background-position: -38px 0 ;
    }
  }
  cite{
    display: inline-block;
    vertical-align: middle;
    width:76px;
    height:76px;
    border-radius: 50%;
    margin-right:5px;

  }
  span{
    input{
      width:134px;
      height:33px;
      padding:2px 8px;
      display: block;
      font-size:28px;
      margin-bottom:5px;
    }
    font-size:14px;
    display: inline-block;
    vertical-align: middle;
  }
}

.renderTable-box{
  overflow: hidden;
  border:1px solid #1cb392;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.customTable{
  width:100%;

  thead{
    background: #1cb392;
    th{
      padding:3px 3px;
      line-height: 24px;
      color:#fff;
      text-align: center;
      border-right:1px dotted #ccc;
      &:last-of-type{
        border-right:none;
      }
    }
  }
  tbody{
    tr{
      border-bottom:1px dotted #ccc;
      &:last-of-type{
        border-bottom:none;
      }
      &.active{
        background: #eaf2ff;
      }
      td{
        padding:3px 3px;
        line-height: 24px;
        text-align: center;
        border-right:1px dotted #ccc;
        &:last-of-type{
          border-right:none;
        }
        input{
          text-align:center;
          line-height:22px;
          height:24px;
          width:90px;
          padding:0 5px;
        }
      }
    }
  }
}
.btn-box{margin-bottom:10px;}

